<html>
<head>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
</head>
<script>
  var snd = new Audio("/audio.annoying_noise.mp3");
</script>
<body>
<h1 style='margin: 0 auto; text-align: center'>
  <%= @user.username %>'s bookings:
</h1>
<form action='/' style="margin-block-end: 0px">
  <input type='submit' id='back' value='Home'>
</form>
<div style='height: 600px; overflow: scroll'>
<% @bookings.each_with_index do |booking, index| %>
  <div style='padding: 2px'>
    <table style="width: 75%; margin: 0 auto; border-style: ridge;">
      <tr style="height: 75px">
        <td style="width: 100px; max-height: 75px; border-style: ridge; padding: 5px; margin: 3px">
        </td>
        <td style="padding: 5px">
          <h4><%= @listings[index].name %></h4>
          <p>£<%= booking.price_total %>0</p>
          <p>Check-in date: <%= booking.start_date %></p>
          <p>Check-out date: <%= booking.end_date %></p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <form action='/booking/edit/<%= booking.id %>' style="margin-block-end: 0px">
            <input type='hidden' value='<%= booking.id %>' name='id'>
            <input type='submit' id='edit' value='Edit'>
          </form>
        </td>
        <td style="width: 50px">
          <form action='/booking/delete/<%= booking.id %>' style="margin-block-end: 0px">
            <input type="hidden" name='id' value='<%= booking.id %>'>
            <input type='submit' id='delete' value='Delete'>
          </form>
        </td>
      </tr>
    </table>
  </div>
<% end %>
</div>
</body>
</html>
