<!DOCTYPE HTML>
<html>
<head>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/logo.css" rel="stylesheet">
</head>
<body>
<div style="background-image: url('images/rainbow-unsplash.jpg');">
<h1 class="well" style='margin: 0 auto; text-align: center'>
  Welcome to the BEST Beaches Supreme BnB listing!
</h1>
<br>
<div id="logo_box">
  <img class="logo" src="images/Beaches_Supreme-2-removebg-preview.png" style='transform-origin: top left;'>
  <img class="logo" src="images/Beaches_Supreme-2-removebg-preview.png" style='transform-origin: top right;'>
</div>
<br><br>
<table style='margin: 0 auto; text-align: center'>
  <tr>
    <td style="vertical-align: bottom">
      <% if !@user %>
      <form action='/sign_up'>
        <button type='submit' value='Sign Up' id='sign_up' name='sign_up' class="btn btn-success">Sign Up</button>
      </form>
      <% end %>
    </td>
    <td>
      <% if @user %>
        <form action='/' method='post' style='text-align: center'>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-leaf"></span></span>
            <input type='text' name='signedin_user' placeholder='<%= @user.username %>' style="text-align: center">
            <input type="submit" id="sign_out" value="Sign Out">
          </div>
        </form>
      <% else %>
        <form action='/' method='post' style="text-align: center">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input class="form-control" type='text' name='username' placeholder='User Name'>
            <input class="form-control" type="password" name="password" placeholder="Password">
          </div>
            <button type='submit' value='Sign In' id='sign_in' name='sign_in' class="btn btn-primary">Sign In</button>
        </form>
      <% end %>
    </td>
  </tr>
</table>
<br><br>
<table style='margin: 0 auto; text-align: center'>
<tr>
<td>
  <form action="/search" method="post" class="form-inline">
  <input type="text" name="search" placeholder="Search" class="form-control">
  <select class="form-control" name="field">
    <option value="name">Name</option>
    <option value="description">Description</option>
  </select>
  <button type="submit" name="submit" value="Search" class="btn btn-info">Search</button>
  </form>
</td>
</tr>
</table>
<br>
<div style='height: 600px; overflow: scroll'>
<% @listings.each do |listing| %>
  <div style='padding: 2px'>
    <table style="width: 75%; margin: 0 auto; border-style: ridge;">
      <tr style="height: 75px">
        <td style="width: 100px; max-height: 75px; border-style: ridge; padding: 5px; margin: 3px">
          <img src="<%= listing.image_filename %>" alt="Pretty Picture" width="100">
        </td>
        <td style="padding: 5px">
          <h4><%= listing.name %></h4>
          <p><%= listing.description %> </p>
        </td>
        <td>: <strong> £<%= listing.price %> per night</strong></td>
      </tr>
      <tr>
        <td>
          <%if @user%>
          <% if @user.id == listing.host_id %>
          <form action='/listing/edit' style="margin-block-end: 0px">
            <input type='hidden' value='<%= listing.id %>' name='id'>
            <input type='submit' id='edit' value='Edit'>
          </form>
          <% end %>
          <% end %>
        </td>
        <td>
          <form action='listing/<%= listing.id %>' style="margin-block-end: 0px; text-align: center">
            <input type="hidden" name="id" value='<%= listing.id %>'>
            <button type='submit' id='book' value='Book' class="btn btn-danger btn-lg">Book</button>
          </form>
        </td>
        <td style="width: 50px">
          <%if @user%>
          <% if @user.id == listing.host_id %>
          <form action='/listing/delete' style="margin-block-end: 0px">
            <input type="hidden" name='id' value='<%= listing.id %>'>
            <input type='submit' id='delete' value='Delete'>
          </form>
          <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
</div>
<br>
<% if @user %>
<table style='margin: 0 auto; text-align: center'>
    <tr>
      <td style="width: 150px">
        <form class="" action="/listing/add" method="get">
          <input type="submit" name="add" value="New Listing">
        </form>
      </td>
      <td style="width: 150px">
        <form class="" action="/my_listings" method="post">
          <input type='hidden' name="filter_listing" value='true'>
          <% if @my_listings %>
            <input type="submit" name="view" value="All Listings">
          <% else %>
          <input type="submit" name="view" value="My Listings">
          <% end %>
        </form>
      </td>
      <td style="width: 150px">
        <% if @user %>
          <form class="" action="/booking/manager">
            <input type="submit" name="booking_manager" value="Booking Manager">
          </form>
        <% end %>
      </td>
    </tr>
</table>
<% end %>
<br>

<footer style='width: 75%; text-align: center; margin: 0 auto'>This is some blurb to show the footer region
<p style="width: 100%; text-align: left">Part of the Peaches and Cream group</p></footer>

<!-- jQuery via Google + local fallback, see h5bp.com -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"></script></script>

<!-- Bootstrap jQuery Plugins, compiled and minified -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
