<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/bootstrap-datepicker.standalone.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
  </head>
  <body>
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/276601608&color=%23ff5500&auto_play=true&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
<div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
  <a href="https://soundcloud.com/extra_shard" title="ExtraShard" target="_blank" style="color: #cccccc; text-decoration: none;">ExtraShard</a> · <a href="https://soundcloud.com/extra_shard/mario-kart-64-rainbow-road" title="Mario Kart 64 - Rainbow Road" target="_blank" style="color: #cccccc; text-decoration: none;">Mario Kart 64 - Rainbow Road</a></div>
    <h1> <%=@listing.name%> </h1>
    <a href="/nooo">Back</a>
    <div id="image">
      <p>IMAGE</p>
    </div>
    <h3> <%= @listing.description %> </h3>
    <h3> Price per night: £<%= @listing.price %>0 </h3>


    <div class="container theme-showcase">
      <h1>Date Picker</h1>
    <div id="holder" class="row" ></div>
    </div>

    <script type="text/javascript">
      function copyTextValue()
      {
        var date = document.getElementById("start_date").value;
        console.log(date)
        document.getElementById("end_date").data-date-start-date = date;
      }
    </script>

    <div>
      <form action="/booking/manager/<%= @listing.id %>" method="post" style="width: 50%; text-align: center">
        <label for="start_date">Start date:</label>
        <input name="start_date" id="start_date" class="datepicker" data-date-format="yyyy-mm-dd" data-provide="datepicker" data-date-dates-disabled="<%= @taken_dates %>" data-date-end-date="<%= @listing.available_dates[1] %>" data-date-start-date="<%= @listing.available_dates[0] %>">
        <label for="end_date">End date:</label>
        <input name="end_date" class="datepicker" data-date-format="yyyy-mm-dd" data-provide="datepicker" data-date-dates-disabled="<%= @taken_dates %>" data-date-end-date="<%= @listing.available_dates[1] %>" data-date-start-date="<%= @listing.available_dates[0] %>">
        <input type="hidden" name="listing_id" value='<%= @listing.id %>'>
        <input type="submit" name="submit" value="Submit Booking">
      </form>
    </div>

  </body>
</html>
